<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <style>
        body {
            background: blueviolet;
            font-family: verdana;
            color: #fff;
            padding: 30px;
        }

        h1 {
            font-size: 48px;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-align: center;
        }

        p {
            font-size: 16px;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Welcome to <%= person %> blog </h1>
    <p>You won't find a website like this anywhere in the Galaxy !! Lolzzz </p>
    <p>My age is <%= data.age %> and my profession is <%= data.job %> </p>
</body>

</html>